.TLP_container {
    display: flex;
    position: relative;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 89vh;
    background: rgba(165, 162, 165, 0.425);
}

.TLP_video {
    position: absolute;
    width: 70vw;
    height: 89vh;
    z-index: -200;
    object-fit: cover;
    -webkit-filter: invert() grayscale();
}

/* .TLP_btn {
    position: absolute;
    top: 45%;
    left: 46.2%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #cfcbcb;
    width: 132px;
    height: 32px;
    border: none;
    cursor: pointer;
    background-color: #ff910059;
    transition: background-color 1s;
}

.TLP_btn:hover {
    background-color: #ff4800b6;
}

.TLP_app {
    color: #768302;
} */