@import '../../vars.css';

.home__container {
    display: flex;
    margin-top: 2%;
    margin-left: 1%;
}

.home__mesa {
    width: 70vw;
    height: 80vh;
    background-image: radial-gradient(
      circle at 120.71% 50%,
      var(--main-color) 0,
      var(--main-color) 50%,
      var(--main-color) 100%
    );
    box-shadow: 0 0 3px 0 #222;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
  
.home__mesa__child {
    width: 97%;
    height: 90%;
    display: flex;
    flex-direction: column;
    background: #fcfcfc;
    border-radius: 20px;
}
  
.home__myteam {
    font-size: 20px;
}
  
.home__chat {
    border: 1px solid black;
    width: 28vw;
    margin: 2%;
}

  

  

  



  

 
  
