@import "../../vars.css";

input:focus,
textarea:focus {
  outline: none;
}
.Profile {
  width: 100%;
  height: 88vh;
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainContainer {
  background-image: radial-gradient(
    circle at 120.71% 50%,
    var(--main-color) 0,
    var(--main-color) 50%,
    var(--main-color) 100%
  );
  border-radius: 20px;
  width: 80%;
  height: 80vh;
  box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.container {
  background-color: #fff;
  border-radius: 20px;
  width: 98%;
  height: 95%;
  box-shadow: rgba(80, 80, 80, 0.589) 5px 5px 8px 0px;
  display: grid;
  flex-direction: row;
  align-items: center;
  grid-template-columns: 30% auto;
}

.container div {
  background-color: red;
  color: white;
  text-align: center;
  border: solid 1px black;
}

.conteinerInfo {
  height: 100%;
  display: grid;
  grid-template-rows: 0% 40% 20%;
  align-items: stretch;
}

.containerFoto {
  width: 100%;
  height: 100%;
  text-align: center;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.foto {
  width: 60%;
  height: 80%;
}

.foto img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.conteinerEstadisticas {
  height: 100%;
  width: 100%;
}

.estadisticas {
  height: 50%;
  width: 100%;
}

.editInfo {
  height: 50%;
  width: 100%;
}
