@import "../../../vars.css";

.containerQuery {
  background-color: #fff;
  border-radius: 20px;
  width: 98%;
  height: 95%;
  box-shadow: rgba(80, 80, 80, 0.589) 5px 5px 8px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.containerFoto {
  height: 100%;
  width: 30%;
}

.containerInfo {
  height: 100%;
  width: 70%;
}

.foto {
  height: 30%;
  width: 100%;
  border-radius: 100%;
}
.foto img {
  height: 15vh;
  width: 15vh;
  border-radius: 100%;
  margin: 1vh;
}

.foto_nombre {
  height: 20%;
  width: 100%;
}

.foto_about {
  height: 50%;
  width: 100%;
}

.info_nombre {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.info_estadisticas {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.info_nombreV1 {
  height: 100%;
  width: 50%;
  margin-top: 3vh;
}

.info_nombreV1 > h4 {
  margin-top: 3vh;
}

.info_nombreV2 > h4 {
  margin-top: 3vh;
}

.info_nombreV2 {
  height: 100%;
  width: 50%;
  margin-top: 3vh;
}

.score > img {
  width: 20%;
  margin-top: 5vh;
}

.containerLoading {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
