.mainContainer {
  position: relative;
}
.firstContainer {
  width: 100%;
  height: 90vh;
  display: flex;
  margin-top: 10vh;
  background-color: white;
}
.firstContainer > .text {
  width: 50%;
  height: 85vh;
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
}
.firstContainer > .text > h2 {
  color: #ff914d;
  font-size: 4.5rem;
  font-weight: 900;
  font-family: "Open sans";
  background-image: linear-gradient(
    90deg,
    #ff914d 0%,
    #4801ff 48%,
    #7333c5 100%
  );
  background-size: 100% 5px;
  background-repeat: no-repeat;
  background-position: 100% 90%;
  align-self: flex-start;
  margin-left: 5vw;
}
.firstContainer > .text > p {
  font-size: 2.2rem;
  font-family: "Open sans";
  width: 85%;
  font-weight: 700;
  text-align: left;
  align-self: center;
  color: #0c45a6;
}
.firstContainer > .img {
  width: 50%;
  height: 85vh;
  margin-top: 5vh;
}

.secondContainer {
  width: 100%;
  height: 90vh;
  display: flex;
  position: relative;
  background-color: white;
}
.secondContainer > h2 {
  position: absolute;
  width: 30%;
  text-align: left;
  top: 10%;
  left: 10%;
  color: #0c45a6;
  font-size: 2.5rem;
  font-family: "Nunito";
  font-weight: 900;
}
.secondContainer > .text {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.secondContainer > .text > p {
  padding: 0 0 50px 0;
}
.secondContainer > .img {
  width: 80%;
  height: 100%;
  background-color: #ff914d;
}

.thirdContainer {
  width: 100%;
  height: 90vh;
  display: flex;
  background-color: white;
}
.thirdContainer > .img {
  height: 100%;
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.thirdContainer > .text {
  width: 65%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 800;
  text-align: right;
  color: #0c45a6;
}
.thirdContainer > .text > p {
  width: 95%;
}

.fourthContainer {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  margin-bottom: 90vh;
}
.fourthContainer > .text {
  width: 100%;
  height: 10vh;
  background-color: #ff914d;
  font-family: "Open sans";
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fourthContainer > .img {
  width: 100%;
  height: 80vh;
  background-image: url("../../media/henry.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.fifthContainer {
  width: 100%;
  height: 90vh;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: -2;
  background-color: #282828;
  color: white;
}

/* //////////////////////MEDIA QUERIES ////////////////////// */

@media screen and (max-width: 600px) {
  .firstContainer {
    width: 600px;
    height: 100vh;
    display: flex;
    margin-top: 10vh;
    background-color: white;
    flex-direction: column;
  }
  .firstContainer .text {
    width: 100%;
    height: 50%;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    font-size: 10px;
  }
  .firstContainer > .text > h2 {
    color: #ff914d;
    font-size: 4.5rem;
    font-weight: 900;
    font-family: "Open sans";
    background-image: linear-gradient(
      90deg,
      #ff914d 0%,
      #4801ff 48%,
      #7333c5 100%
    );
    background-size: 100% 5px;
    background-repeat: no-repeat;
    background-position: 100% 90%;
    align-self: flex-start;
    margin-left: 5vw;
  }
  .firstContainer > .text > p {
    font-size: 1.5rem;
    font-family: "Open sans";
    width: 85%;
    font-weight: 700;
    text-align: left;
    align-self: center;
    color: #0c45a6;
  }

  .firstContainer > .img {
    width: 100%;
    height: 50%;
    margin-top: 5vh;
  }

  .secondContainer {
    width: 600px;
    display: flex;
    background-color: white;
  }
  .secondContainer > h2 {
    position: absolute;
    width: 30%;
    text-align: left;
    top: 10%;
    left: 10%;
    color: #0c45a6;
    font-size: 2.5rem;
    font-family: "Nunito";
    font-weight: 900;
  }
  .secondContainer > .text {
    width: 600px;

    display: flex;
    align-items: flex-end;
    justify-content: center;
    display: none;
  }
  .secondContainer > .text > p {
    padding: 0 0 50px 0;
  }
  .secondContainer .img {
   width: 100%;
    height: 70%;
    background-color: #ff914d;
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    justify-content: center;
  }

  .secondContainer img {
    width: 80%;
    
  }

  .thirdContainer {
    width: 100%;
    height: 90vh;
    display: flex;
    background-color: white;
    flex-direction: column;

  }
  .thirdContainer > .img {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

   .thirdContainer img {
    width: 50%;
   
  }
  .thirdContainer > .text {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 800;
    text-align: right;
    color: #0c45a6;
  }
  .thirdContainer > .text > p {
    width: 65%;
  }

  .thirdContainer    p {
    font-size: 85%;
  }

  .fourthContainer {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    margin-bottom: 90vh;
  }
  .fourthContainer > .text {
    width: 100%;
    height: 10vh;
    background-color: #ff914d;
    font-family: "Open sans";
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .fourthContainer > .img {
    width: 100%;
    height: 80vh;
    background-image: url("../../media/henry.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .fifthContainer {
    width: 100%;
    height: 90vh;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: -2;
    background-color: #282828;
    color: white;
  }
}
