.container{
    width: 100%;
    height: 89vh;
    position: relative;
}

.usersContainer{
    display: grid;
    grid-template-columns: repeat(auto-fill, 330px);
    gap: 30px;
    padding: 10px 40px 40px 40px;
    justify-content: center;
    position: relative;
}

.truehome__boton_violeta  {
    margin: 5.2px;
    height: 32px;
    width: 140px;
    border: none;
    border-radius: 50px;
    box-shadow: 0 0 2px 0 #222;
    background: #7333C5;
    color: #fff;
    font-family: 'Nunito';
}

.truehome__boton_violeta:hover  {
    cursor: pointer;
    background: #7c40ca;
}

.truehome__boton_violeta:active, .truehome__boton_violeta:focus {
    box-shadow: inset 0 0 6px 0 #222;
    background: #7c40ca;
}

.landingPage__input {
    margin: 20px;
    padding-left: 1.2rem;
    width: 25%;
    height: 6.5vh;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.25);
    border: #fcfcfc solid 2px;
    border: none;
    outline: none;
    font-family: 'Nunito';
  }


.truehome__btnsearch, .truehome__btndelete {
    background: transparent;
    border: none;
    padding: none;
    cursor: pointer;
    transform: scale(130%);
}
