.navbar{
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    justify-content: flex-start;
    align-items: center;
    background-color: transparent;
    width: 100%;
    height: 10vh;
    font-size: 20px;
    z-index: 1;
    gap: 20px;
    font-family: 'Nunito';
    box-shadow: 0px 5px 8px rgb(187, 187, 187);
}
.navbar img{
    margin-left: 3vw;
    margin-top: 1.5vh;
}

.scrolling img{
    margin-left: 3vw;
    margin-top: 1.5vh;
}

.linksNavbar{
    display: flex;
    gap: 20px;
    margin-left: 20px;
    
}
 .scrolling {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 10vh;
    font-size: 20px;
    z-index: 1;
    gap: 20px;
    font-family: 'Nunito';
    background-color: #282828;
    transition: all 0.5s ease;
    color: white;
}

.links{
    width: 72%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3%;
}
.link{
    font-family: 'Nunito';
    font-size: 20px;
    font-weight: 600;
}
.link:hover{
    cursor: pointer;
}
.link:active{
    transform: scale(0.95);
}
.linkSelected{
    font-family: 'Nunito';
    font-size: 20px;
    font-weight: 600;
    color: #7333c5;
    position: relative;
    display: flex;
    justify-content: center;
}
.linkSelected::after{
    content: '';
    position: absolute;
    top: 100%;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #7333c5;
    clear: both;
}


.buttons{
    display: flex;
    gap: 10px;
}
.student  {
    height: 32px;
    width: 80px;
    border: none;
    border-radius: 50px;
    box-shadow: 0 0 2px 0 #222;
    background: #7333C5;
    color: #fff;
    font-family: 'Nunito';
}

.student:hover  {
    cursor: pointer;
    background: #7c40ca;
}

.student:active, .student:focus {
    box-shadow: inset 0 0 6px 0 #222;
    background: #7c40ca;
}
.institution{
    border: none;
    background-color: transparent;
    height: 32px;
    width: 80px;
    font-weight: 500;
}
.institution:hover{
    transform: scale(1.02);
}

