@import '../../vars.css';

.navbar__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 11vh;
    width: 100%;
    background: var(--main-color);
    box-shadow: 0px 5px 8px rgb(187, 187, 187);
}

.navbar__logo {
    margin-left: -1.5rem;
    margin-top: 0.9rem;
    cursor: pointer;
    user-select: none;
}

.navbar__div_buttons {
    margin-right: 1rem;
}

.navbar__link {
    color: #111;
    margin-right: 2px;
    background: transparent;
    border: none;
    outline: none;
    font-family: 'Nunito';
    font-weight: 600;
}

.navbar__link:hover {
    cursor: pointer;
    color: #333
}

.navbar__boton_violeta  {
    margin-left: 5.2px;
    height: 32px;
    width: 80px;
    border: none;
    border-radius: 50px;
    box-shadow: 0 0 2px 0 #222;
    background: #7333C5;
    color: #fff;
    font-family: 'Nunito';
}

.navbar__boton_violeta:hover  {
    cursor: pointer;
    background: #7c40ca;
}

.navbar__boton_violeta:active, .navbar__boton_violeta:focus {
    box-shadow: inset 0 0 6px 0 #222;
    background: #7c40ca;
}